<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="my-3">Task Manager</h1>
        </div>
    </div>

    <div class="row mb-3" *ngIf="this.taskData.length > 0">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-danger" routerLink="/add-task">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
                <span>
                    New Task
                </span>
            </button>

        </div>
    </div>

    <div class="row">
        <div class="col" *ngIf="this.taskData.length > 0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Task#</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Title</th>
                            <th scope="col">Assignd to</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created on</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData;">
                            <td>{{item.id}}</td>
                            <td>{{item.priority}}</td>
                            <td>{{item.desc}}</td>
                            <td>
                                <span class="badge bg-danger mx-1"  *ngIf="item.assign == undefined || item.assign.length == 0">Unassigned Task</span>
                                <span class="badge bg-primary mx-1" *ngFor="let per of item.assign">{{per.item_text}}</span>
                            </td>
                            <td>
                                <span class="badge" [ngClass]="{
                                    'bg-success': item.status == 'Completed',
                                    'bg-danger': item.status == 'Todo',
                                    'bg-info': item.status == 'In-progress'
                                }">{{item.status}}</span>
                            </td>
                            <td>{{item.timestamp | date:'medium' }}</td>
                            <td>
                                <a class="btn btn-primary" [routerLink]="['/add-task', item.id]">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div style="min-height: 90vh" class="d-flex flex-column justify-content-center align-items-center" *ngIf="this.taskData.length == 0">
 
                <h1>Welcome to the task manager</h1>
                <p>It seems you haven't created any task yet. Lets create your first task.</p>
                <a routerLink="/add-task" class="btn btn-danger">Create first task</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation example" *ngIf="taskData.length > 0">
                <ul class="pagination">
                  <li class="page-item" *ngIf="page > 1"><a class="page-link" href="#" (click)="onPrevious()">Previous</a></li>
                  <li class="page-item" *ngIf="showNext"><a class="page-link" href="#" (click)="onNext()">Next</a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>
  